.commit {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #f9f8f8;
}
.commit-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #0366d6;
}
.commit-description {
  font-size: .9em;
  margin: 0 0 .5em;
}
.commit-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .8em;
}
.commit-info p {
  margin: 0 .6em 0 0;
}
.commit-author {
  font-weight: bold;
}

.commit-time strong {
  font-weight: bold;
}

/* .languages {
  font-size: .7em;
} */
