.lds-dual-ring {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.6);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #FF5A49 transparent #4DC7B7 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
