.header {
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.logo {
  background-image: url('../../assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center left;
  width: 135px;
  height: 48px;
}