.repo {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.repo-name {
  font-size: 1.2em;
  color: #0366d6;
}
.repo-description {
  font-size: .9em;
  margin: 0 0 .5em;
}
.repo-info {
  display: flex;
  flex-direction: row;
  font-size: .8em;
}
.repo-info p {
  margin: 0 1em 0 0;
}
/* .languages {
  font-size: .7em;
} */
