.order-by {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  li {
    list-style-type: none;
    &:not(:last-child){
      margin-right: 1em;  
    }
  }
}

// list repositories and commits
.repos {
  max-width: 1200px;
  width: 95%;
  margin: 30px auto;
  li {
    width: 100%;
    padding: 1em 0;
    border-bottom: 1px solid #e1e4e8;
    list-style-type: none;
  }
}

.no-more {
  color: #FF5A49;
  font-size: 1em;
  text-align: center;
  margin: 30px 0;
}

.error {
  text-align: center;
  color: red;
  font-size: 1em;
}
