.btn {
  cursor: pointer;
  padding: .5em 1.5em;
  font-size: 1em;
  color: #FF5A49;
  border: 1px solid #FF5A49;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  &:hover {
    background-color: #FF5A49;
    color: white;
  }
   &.active {
     @extend :hover;
   }
}
